<div class="row">
  <div class="panel panel-default container-fluid">
    <div class="panel-heading row">
      <div class="col-xs-4"><h4>Contacts</h4></div>
      <div class="col-xs-4"></div>
      <div class="col-xs-4 "><button class="btn btn-success pull-left">New Contact</button></div>
  </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <cms-contact-item *ngFor="let contact of contacts" [contact]="contact" (click)="onSelected(contact)"></cms-contact-item>
        </div>
      </div>
    </div>
</div>
</div>

<!--<ul>-->
<!--<li *ngFor="Contacttact of contactsContacttact.name}}</li>-->
<!--</ul>-->
<!--<a href="#" class="list-group-item clearfix" *ngFor="Contacttact of contacts">-->
<!--<div class="pull-left">-->
<!--<h4 class="list-group-item-headingContacttact.name}}</h4>-->
<!--</div>-->
<!--<span class="pull-right">-->
<!--<img srContacttact.imageUrl}} alt="" class="img-responsive" style="max-height: 50px;">-->
<!--</span>-->
<!--</a>-->
